In [1]:
import pandas as pd
import os
import glob

In [2]:
def read_synth1_file(filepath):
    try:
        f = open(filepath)
        file = f.read()
        f.close()
        file=file.split("\n")
        header = file[0:3]
        data = file[3:-1]
        synth_data = {}
        synth_data["pack"] = filepath.split("/")[-2]
        synth_data["name"] = header[0]
        synth_data["color"] = header[1].split("=")[1]
        synth_data["ver"] = header[2].split("=")[1]
        data_values = {x[0]:x[1] for x in [x.split(",") for x in data]}
        synth_data.update(data_values)
        
    
        return synth_data
    except:
        #print("Error Decoding")
        return None

In [3]:
def read_synth1_folder(folderpath):
    res = glob.glob(folderpath+"*.sy1")

    synth_presets = []
    for i in range(len(res)):
        r = read_synth1_file(res[i])
        if r:
            synth_presets.append(r)
    
    return synth_presets

In [4]:
def read_all_folders(mega_folderpath):
    res = glob.glob(mega_folderpath+"/*/")
    master_list = []
    
    for i in res:
        #print(i)
        master_list.extend(read_synth1_folder(i))
    #ls = read_synth1_folder(res[0])
    
    return master_list
    
    #print(res)

In [5]:
master_list = read_all_folders("/home/jimmy/MLMemes/SynthGAN/synth_patches/all")

In [6]:
df = pd.DataFrame(master_list)

In [7]:
df

,pack,name,color,ver,0,45,76,1,2,3,...,44,67,68,58,46,47,48,49,69,70
0,Synth 1 Tororo33,015,red,112,2,30,20,1,67,66,...,40,1,1,1,3,1,49,85,1,1
1,Synth 1 Tororo33,014,red,112,3,0,0,2,64,64,...,0,0,1,0,5,1,64,64,0,0
2,Synth 1 Tororo33,050,red,112,1,0,10,2,73,62,...,64,0,0,0,5,1,63,64,0,0
3,Synth 1 Tororo33,056,red,112,1,0,20,1,39,62,...,1,0,0,0,2,1,64,0,0,0
4,Synth 1 Tororo33,031,red,112,0,0,0,3,36,81,...,0,0,1,0,7,2,63,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12698,Nolwenn Ann 1,Organ 4 stab,magenta,106,0,58,NaN,3,84,78,...,1,0,0,0,5,1,64,64,0,0
12699,Nolwenn Ann 1,Whistle,magenta,106,0,21,NaN,3,0,0,...,0,0,0,0,5,1,64,64,0,0
12700,Nolwenn Ann 1,DX7 Pretty Bell,magenta,106,0,82,NaN,2,87,64,...,24,0,0,0,5,1,64,64,0,0
12701,Nolwenn Ann 1,OldSkool Murk Bass,red,106,1,0,NaN,2,39,66,...,0,0,0,0,5,1,64,64,0,0
12702,Nolwenn Ann 1,Lectro Bass,red,106,1,0,NaN,1,64,108,...,124,0,0,0,5,1,0,0,0,0

In [8]:
df.groupby('ver')['name'].nunique()

ver
105    1200
106    4666
107     566
108    2594
109       4
111     121
112    2331
113     170
Name: name, dtype: int64

In [9]:
#ver106 = df.loc[df['ver'] == '106']
ver106 = df

In [10]:
ver106

,pack,name,color,ver,0,45,76,1,2,3,...,44,67,68,58,46,47,48,49,69,70
0,Synth 1 Tororo33,015,red,112,2,30,20,1,67,66,...,40,1,1,1,3,1,49,85,1,1
1,Synth 1 Tororo33,014,red,112,3,0,0,2,64,64,...,0,0,1,0,5,1,64,64,0,0
2,Synth 1 Tororo33,050,red,112,1,0,10,2,73,62,...,64,0,0,0,5,1,63,64,0,0
3,Synth 1 Tororo33,056,red,112,1,0,20,1,39,62,...,1,0,0,0,2,1,64,0,0,0
4,Synth 1 Tororo33,031,red,112,0,0,0,3,36,81,...,0,0,1,0,7,2,63,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12698,Nolwenn Ann 1,Organ 4 stab,magenta,106,0,58,NaN,3,84,78,...,1,0,0,0,5,1,64,64,0,0
12699,Nolwenn Ann 1,Whistle,magenta,106,0,21,NaN,3,0,0,...,0,0,0,0,5,1,64,64,0,0
12700,Nolwenn Ann 1,DX7 Pretty Bell,magenta,106,0,82,NaN,2,87,64,...,24,0,0,0,5,1,64,64,0,0
12701,Nolwenn Ann 1,OldSkool Murk Bass,red,106,1,0,NaN,2,39,66,...,0,0,0,0,5,1,64,64,0,0
12702,Nolwenn Ann 1,Lectro Bass,red,106,1,0,NaN,1,64,108,...,124,0,0,0,5,1,0,0,0,0

In [12]:
ver106 = ver106.dropna(axis=1)

In [13]:
ver106 = ver106.drop(columns=["pack","color","ver"])

In [14]:
ver106

,name,0,45,1,2,3,4,5,6,7,...,57,41,42,43,44,58,46,47,48,49
0,015,2,30,1,67,66,1,70,0,0,...,0,7,1,82,40,1,3,1,49,85
1,014,3,0,2,64,64,1,108,0,0,...,1,2,1,77,0,0,5,1,64,64
2,050,1,0,2,73,62,1,51,0,0,...,0,2,1,64,64,0,5,1,63,64
3,056,1,0,1,39,62,1,51,0,0,...,1,2,1,82,1,0,2,1,64,0
4,031,0,0,3,36,81,0,127,0,0,...,1,2,1,60,0,0,7,2,63,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12698,Organ 4 stab,0,58,3,84,78,1,61,0,0,...,1,1,0,87,1,0,5,1,64,64
12699,Whistle,0,21,3,0,0,0,0,0,0,...,0,2,1,64,0,0,5,1,64,64
12700,DX7 Pretty Bell,0,82,2,87,64,1,0,0,0,...,0,4,1,64,24,0,5,1,64,64
12701,OldSkool Murk Bass,1,0,2,39,66,1,64,0,0,...,0,2,1,64,0,0,5,1,64,64
12702,Lectro Bass,1,0,1,64,108,1,61,0,0,...,0,3,5,14,124,0,5,1,0,0

In [15]:
ver106.columns

Index(['name', '0', '45', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '59', '31', '32', '33',
       '34', '65', '35', '36', '37', '66', '64', '52', '53', '54', '55', '56',
       '60', '61', '62', '63', '38', '39', '40', '50', '57', '41', '42', '43',
       '44', '58', '46', '47', '48', '49'],
      dtype='object')

In [16]:
col_rename = {
    0:"osc1 shape",
    1:"osc2 shape",
    2:"osc2 pitch",
    3:"osc2 tune",
    4:"osc2 kbd track",
    5:"osc mix",
    6:"osc sync",
    7:"osc ring modulation",
    8:"osc pulse width",
    9:"osc key shift",
    10:"osc mod env on/off",
    11:"osc mod env amount",
    12:"osc mod env attack",
    13:"osc p.env decay",
    14:"filter type",
    15:"filter attack",
    16:"filter decay",
    17:"filter sustain",
    18:"filter release",
    19:"filter freq",
    20:"filter resonance",
    21:"filter amount",
    22:"filter kbd track",
    23:"filter distortion",
    24:"filter velocity switch",
    25:"amp attack",
    26:"amp decay",
    27:"amp sustain",
    28:"amp release",
    29:"amp gain",
    30:"amp velocity sens.",
    31:"arp type",
    32:"arp range",
    33:"arp beat",
    34:"arp gate",
    35:"delay time",
    36:"delay feedback",
    37:"delay level",
    38:"play mode type",
    39:"play mode portament",
    40:"pitch bend range",
    41:"lfo1 destination",
    42:"lfo1 type",
    43:"lfo1 speed",
    44:"lfo1 depth",
    45:"osc1 fm modulation",
    46:"lfo2 destination",
    47:"lfo2 type",
    48:"lfo2 speed",
    49:"lfo2 depth",
    50:"wheel lfo1 depth sens.",
    51:"wheel lfo1 speed sens.",
    52:"chorus delay time",
    53:"chorus depth",
    54:"chorus rate",
    55:"chorus feedback",
    56:"chorus level",
    57:"lfo1 on/off",
    58:"lfo2 on/off",
    59:"arp. on/off",
    60:"equalizer tone",
    61:"equalizer freq.",
    62:"equalizer level",
    63:"equalizer Q",
    64:"chorus type",
    65:"delay on/off",
    66:"chorus on/off",
    67:"lfo1 tempo sync",
    68:"lfo1 key sync",
    69:"lfo2 tempo sync",
    70:"lfo2 key sync",
    71:"osc mod env dest.",
    72:"osc1,2 tune",
    73:"unison mode",
    74:"portament auto mode"
}

In [17]:
col_rename_final = {}

for k in col_rename.keys():
    col_rename_final[str(k)] = col_rename[k]

In [18]:
ver106.rename(columns=col_rename_final, inplace=True)

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
ver106.columns

In [ ]:
ver106

In [ ]:
ver106["osc2 pitch"].value_counts()

In [ ]:
sns.distplot(ver106["osc2 pitch"], kde=False, rug=True);

In [ ]:
ver106

In [20]:
ver106.to_csv("presets_all_names_with_names.csv",index=False)

In [ ]:
ver106.columns[ver106.isna().any()].tolist()

In [ ]:
#For backwards compat
#See synth1 man page 14
nan_replacements = {
    51:0, #51 I did on my own, not sure if right
    67:0,
    68:0,
    69:0,
    70:0,
    71:0,
    72:64,
    73:0,
    74:0,
    75:48, #or 70
    76:0,
    77:0,
    78:0,
    79:64,
    80:64,
    81:64,
    82:0,
    83:66,
    84:64,
    85:24,
    86:45057,
    87:44,
    88:45057,
    89:43,
    90:64,
    91:0,
    92:0,
    93:2, #or 4
    94: 16,
    95: 0,
    96: 1,
    97: 1,
    98: 64
}

In [ ]:
df.ver.unique()

In [ ]:
for key in nan_replacements:
    df[str(key)] = df[str(key)].fillna(nan_replacements[key])

In [ ]:
df.to_csv("presets.csv",index=False)

In [ ]:
def write_row_to_file(num, out,data):
    d_version = data.iloc[num].to_dict()
    to_write = []
    to_write.append(str(num+20))
    to_write.append("color=red")
    to_write.append("ver=106")
    #print(d_version)
    for i in d_version.keys():
        #print(i)
        #try:
            #print(int(i))
            #int(i)
        to_write.append(i+','+str(d_version[i]))
        #except:
        #    print("A")
        #    pass
    #print(to_write)
    with open(str(num+20)+".sy1", 'w') as fo:
       for d in to_write:
         fo.write(str(d) + '\n')

In [ ]:
for i in range(16):
    write_row_to_file(i, "ha.syn1", test)

In [ ]:
test

In [ ]:
test = pd.read_csv("./test_patches.csv")

In [ ]:
write_row_to_file(0,"bruv.sy1",test)